html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #2c2b2b;
    padding: 0;
    margin: 0;

    .home-background {
      position: absolute;
      margin: 0 auto;
  
      svg{
          width: 100%;
          height: 100%;
          transform: scale(0.97);
      
      }
    } 
  
  }
  
  .home-content {
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-title {
    font-size: 10rem;
    color: #ca9df8;
    margin-bottom: 20px;
    font-family: Wallpoet;
  }

  .home-subtitle {
    font-size: 2.5rem;
    color: #d4d8d4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: Wallpoet;
  }
  
  .home-logo {
    margin: 20px 0;
  }
  
  .start-button {
    font-size: 2rem; 
    font-family: Wallpoet;
    color: #1f1f1f;
    padding: 15px 100px;
    border: none;
    border-radius: 25px;
    background-color: #d8d3de;
    cursor: pointer;
    margin-bottom: -40px;
    margin-top: 80px;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #b48be6;
  }


.home-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 20px;
    width: 100%;
}

.nav-link {
    color: #ca9df8; /* Purple color */
    text-decoration: none; /* Remove underline */
    font-size: 1.5rem; /* Increase font size */
    margin: 0 40px; /* Space between links */
    transition: all 0.3s ease;
    font-family: Wallpoet;
    z-index: 2;
}

.nav-link:hover {
    color: #b48be6; /* Darker shade on hover */
    transform: scale(1.15);
}

.spinner {
    animation: spin 40s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.outline-shape {
  position: absolute;
  margin: 0 auto;

  svg{
      width: 100%;
      height: 100%;
      transform: scale(0.97);
  
  }
} 

  