.dashboard-container {
    background-color: #2c2b2b;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.dashboard-container h1 {
    font-size: 3em;
    color: #ca9df8;
    font-family: Wallpoet;
    padding-left: 3rem;
    padding-top: 2rem; 
}

.dashboard-container h2 {
    font-size: 2rem;
    color: #ca9df8;
    font-family: Wallpoet;
    padding-left: 3rem;
    margin-top: 2rem;
}

.dashboard-dropdown-container {
    padding-left: 2rem;
    padding-top: 1rem;
    margin-right: auto;
    /* border: 2px solid red; */
    width: 80%;
    margin-bottom: 2rem;
}

.dashboard-flex{
    display: flex;
    flex-direction: row;
    /* border: 2px solid green; */
}

.link-dashboard{
    width: 20%;
    margin: auto;
    padding-left: 6rem;
}

.dashboard-table-container {
    padding-top: 1rem;
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 1rem;
    font-family: Chakra Petch;
}

.dashboard-table th,
.dashboard-table td {
    border: 1px solid white;
    text-align: center;
    color: white;
    cursor: pointer;
}

.dashboard-table th {
    background-color: #989898;
}

.dashboard-table .sorted-column {
    background-color: green !important;
}

.matchup-button {
    font-size: 1.5rem;
    font-family: Wallpoet;
    color: #1f1f1f;
    padding: 15px 15px;
    border: none;
    border-radius: 25px;
    background-color: #d8d3de;
    cursor: pointer;
    transition: background-color 0.3s ease, width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    width: 70px;
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-left: -20px;
}

.matchup-button:hover {
    background-color: #b48be6;
    width: 150px;
}

.button-text {
    visibility: visible;
}

.view-matchup-text {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.matchup-button:hover .button-text {
    visibility: hidden;
}

.matchup-button:hover .view-matchup-text {
    visibility: visible;
}
